<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- ::::::CREANDO BEAN DE DISQUERA DAO -->
<!-- id="disqueraDAO es necesario para poder utilizarlo en test -->
<!-- class="com.danni.projectspringdesktop.dao.impl.DisqueraDAOImpl" ubicacion completa + clase.java -->
     <bean id="disqueraDAO" class="com.danni.projectspringdesktop.dao.impl.DisqueraDAOImpl">   
     </bean>
     
<!-- properties obtenido de google "id="properties" = es llamado enel test -->
	<bean id="properties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
			<!-- Classpath buscara la clase confing.properties en el directorio para ser utilizado -->
				<value>classpath:config.properties</value>
				
			</list>
		</property>
	</bean>
</beans>